/* !== Component - Product List */

.cp_ProductList {
  width:calc(100% - 440px);
  transition:all 0.4s ease-in-out;
  opacity: 1;

  /* !== List Item */
  &__item {
    padding:14px 0;
    border-bottom:1px solid $clrLightGrey;
  }

  &__itemInfo {
    flex:1 1 auto;
  }

  &__itemName {
    flex-shrink:0;
    &:not(:last-child) {
      margin-bottom:em(7,20);
    }
  }

  &__cost {
    flex:0 0 80px;
  }

  &__itemQuantity {
    font-style: italic;
    color:$clrLightGrey;
  }

  /* !== Actions */
  &__itemActions {
    flex-grow:0;
    padding-left: 30px;
  }
}


.is_CheckingOut {
  .cp_ProductList {
    width:0px;
    padding: 0;
    opacity: 0;
    overflow: hidden;
  }
}
