/* !== Component - Basket */

.cp_Basket {
  flex:0 0 400px;

  &__inner {
    padding:20px 30px;
    border-radius:7px;
    border:1px solid $clrLightGrey;
    box-shadow:0 4px 7px $clrVeryLightGrey;
  }

  &__noItems {
    display: none;
  }

  &__checkout {
    display:none;
  }

  /* !== Currency Switcher */
  &__currSwitcherMenu {
    font-size:16px;
  }

  /* !== Basket Status */
  &.is_Empty {
    .cp_Basket__noItems {
      display: block;
    }

    .cp_Basket__checkoutToggle {
      display: none;
    }
  }

  &.is_CheckingOut {
    .cp_Basket__checkout {
      display: block;
    }
  }
}
