/* !== Component - Basket */

.cp_Basket {
  width:400px;
  margin-left: 40px;
  position: relative;
  z-index: 10;

  &__inner {
    padding:20px 30px;
    border-radius:7px;
    background:$clrWhite;
    border:1px solid $clrLightGrey;
    box-shadow:0 4px 7px $clrVeryLightGrey;
  }

  &__noItems {
    display: none;
  }

  &__checkout {
    display:none;
  }

  /* !== Currency Switcher */
  &__currSwitcherMenu {
    font-size:16px;
  }

  /* !== Basket Status */
  &.is_Empty {
    .cp_Basket__noItems {
      display: block;
    }

    .cp_Basket__checkoutToggle {
      display: none;
    }
  }
}

/* !== Global State - Checking Out */
.is_CheckingOut {
  .cp_Basket {
    &__checkout {
      display: block;
    }
  }
}
