/* != Object - Button */

.ob_Button {
  @include buttonBase;

  &--list {
    font-size:16px;
    padding:7px 10px 5px;
  }

  &--primary {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding:14px 20px 10px;
  }

  &--pos {
    background-color:$clrBlue;

    &:hover, &:focus, &:active {
      background-color:shade($clrBlue,15%);
    }
  }

  &--neg {
    background-color:$clrRed;

    &:hover, &:focus, &:active {
      background-color:shade($clrRed,15%);
    }
  }

  &--progress {
    background-color:$clrGreen;

    &:hover, &:focus, &:active {
      background-color:shade($clrGreen,15%);
    }
  }
}
