/* != Object - Button */

.ob_Button {
  @include buttonBase;

  &--list {
    font-size:16px;
    padding:7px 10px 5px;
  }

  &--pos {
    background-color:$clrBlue;

    &:hover, &:focus, &:active {
      background-color:shade($clrBlue,15%);
    }
  }

  &--neg {
    background-color:$clrRed;

    &:hover, &:focus, &:active {
      background-color:shade($clrRed,15%);
    }
  }
}
