/* != Stage Container for App */

.st_App {
  padding:5%;

  &__inner {
    max-width:em(1000);
    margin:0 auto;
    /* Extend Grid */
    justify-content:center;
  }
}

/* !== Breakpoint */
@include mq($bpFinn) {
  .st_App {
    &__inner {
      /* Extend Grid */
      flex-direction:column;
      align-items:center;
    }
  }
}
