/* != Framework Module - BUTTONS */

/* !== Basic Button Style */
@mixin buttonBase {
  display: inline-block;
  font-family:$displayfontfamily;
  background:$clrPrimary;
  color:$clrWhite;
  border:none;
  border-radius:3px;
  text-decoration: none;
  transition:all $timeStandardLink;
  line-height: 1;

  &:hover, &:focus, &:active {
    color:$clrWhite;
  }
}

/* Placeholder for buttonBase @mixin */
%buttonBase {
  @include buttonBase;
}

/* Mixin for Basic Button Styles */
@mixin basicButton($color, $background, $hoverColor: $color, $hoverBackground: darken($background, 12)) {
  color:$color;
  background:$background;

  &:hover, &:focus, &:active {
    color:$hoverColor;
    background:$hoverBackground;
  }
}
