/* != Global - Timings */

$customBezier: ease-in-out;

$timeQuickLink: 0.2s $customBezier;
$timeStandardLink: 0.2s $customBezier;
$timeLongLink: 0.6s $customBezier;
$timeShowcase: 0.6s $customBezier;
$timeNavTrans: 0.6s $customBezier;

$transArrow:scale(1.2);
